:host {
  display: block;
}

.the-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: var(--10px) var(--30px);
  background: white;
  border-bottom: var(--1px) solid var(--split-line-color);
  z-index: 1;
}

.header-left {
  font-size: var(--32px);
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: var(--15px);
}

.main-content {
  padding: var(--30px);
  padding-top: 0;
}

.section-title {
  color: var(--emphasis-text-color);
  margin-top: var(--70px);
  margin-bottom: var(--10px);

  &:first-child {
    margin-top: var(--30px);
  }
}

.section-sub-title {
  color: var(--emphasis-text-color);
  margin-top: var(--30px);
  margin-bottom: var(--5px);
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--30px);
}

.button-card {
  display: flex;
  align-items: center;
  gap: var(--5px);
}

.table-section {
  width: var(--700px);
  height: var(--400px);
}

.text-color-section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--30px);
}

.text-color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--180px);
}

.common-color-section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--30px);
}

.common-color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--5px);
  width: var(--150px);
}

.width-250 {
  width: var(--250px);
}

.common-color-legend {
  width: var(--30px);
  border-radius: var(--4px);
  aspect-ratio: 1;
}

.icon-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--30px);
  margin-top: var(--5px);
}

.icon-item {
  display: flex;
  width: var(--150px);
  flex-direction: column;
  align-items: center;
}

.colored-icon-red {
  color: var(--red-main);
}

.colored-icon-blue {
  color: var(--primary-color);
}

.common-control-item {
  display: flex;
  align-items: center;
}

.common-control-title {
  font-weight: 700;
}
