<section class="the-header">
  <div class="header-left">
    <span style="color: var(--blue-main)">Design</span>
    <span style="color: var(--pink-main)">System</span>
  </div>

  <div class="header-right">
    <a routerLink="/" pButton data-test="change-me">
      <span pButtonLabel>Home</span>
    </a>
    <a routerLink="/console" pButton data-test="change-me">
      <span pButtonLabel>Console</span>
    </a>
  </div>
</section>

<section class="main-content">
  <h1 class="section-title">Button</h1>
  <h3 class="section-sub-title">Regular Button</h3>
  <section class="button-section">
    <p-button data-test="change-me" label="Primary" severity="primary"></p-button>
    <p-button data-test="change-me" label="Secondary" severity="secondary"></p-button>
    <p-button data-test="change-me" label="Warn" severity="warn"></p-button>
    <p-button data-test="change-me" label="Danger" severity="danger"></p-button>
    <p-button data-test="change-me" label="Disabled" severity="danger" [disabled]="true"></p-button>
    <p-button data-test="change-me" label="Small" severity="primary" size="small"></p-button>
    <p-button data-test="change-me" label="Large" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">Outlined Button</h3>
  <section class="button-section">
    <p-button data-test="change-me" label="Primary" severity="primary" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Secondary" severity="secondary" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Warn" severity="warn" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Danger" severity="danger" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Disabled" severity="primary" [disabled]="true" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Small" severity="primary" size="small" variant="outlined"></p-button>
    <p-button data-test="change-me" label="Large" severity="primary" size="large" variant="outlined"></p-button>
  </section>

  <h3 class="section-sub-title">Pure text button</h3>
  <div class="button-section">
    <p-button data-test="change-me" label="Primary" variant="text" severity="primary" />
    <p-button data-test="change-me" label="Secondary" variant="text" severity="secondary" />
    <p-button data-test="change-me" label="Warn" variant="text" severity="warn" />
    <p-button data-test="change-me" label="Danger" variant="text" severity="danger" />
    <p-button data-test="change-me" label="Disabled" variant="text" severity="primary" disabled />
    <p-button data-test="change-me" label="Small" variant="text" severity="primary" size="small" />
    <p-button data-test="change-me" label="Large" variant="text" severity="primary" size="large" />
  </div>

  <h3 class="section-sub-title">Pure text button with normal font weight</h3>
  <div class="button-section">
    <p-button data-test="change-me" variant="text" severity="primary">Primary</p-button>
    <p-button data-test="change-me" variant="text" severity="secondary">Secondary</p-button>
    <p-button data-test="change-me" variant="text" severity="warn">Warn</p-button>
    <p-button data-test="change-me" variant="text" severity="danger">Danger</p-button>
    <p-button data-test="change-me" variant="text" severity="primary" disabled>Disabled</p-button>
    <p-button data-test="change-me" variant="text" severity="primary" size="small">Small</p-button>
    <p-button data-test="change-me" variant="text" severity="primary" size="large">Large</p-button>
  </div>

  <h1 class="section-title">PrimeNG icon Button</h1>
  <h3 class="section-sub-title">Regular button with PrimeNG icon</h3>
  <section class="button-section">
    <p-button data-test="change-me" icon="pi pi-home" label="Primary" severity="primary"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Secondary" severity="secondary"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Warn" severity="warn"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Danger" severity="danger"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Diabled" severity="primary" [disabled]="true"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Small" severity="primary" size="small"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Large" severity="primary" size="large"></p-button>
  </section>

  <h3 class="section-sub-title">Outlined button with PrimeNG icon</h3>
  <section class="button-section">
    <p-button data-test="change-me" icon="pi pi-home" label="Primary" severity="primary" variant="outlined"></p-button>
    <p-button
      data-test="change-me"
      icon="pi pi-home"
      label="Secondary"
      severity="secondary"
      variant="outlined"
    ></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Warn" severity="warn" variant="outlined"></p-button>
    <p-button data-test="change-me" icon="pi pi-home" label="Danger" severity="danger" variant="outlined"></p-button>
    <p-button
      data-test="change-me"
      icon="pi pi-home"
      label="Diabled"
      severity="primary"
      [disabled]="true"
      variant="outlined"
    ></p-button>
    <p-button
      data-test="change-me"
      icon="pi pi-home"
      label="Small"
      severity="primary"
      size="small"
      variant="outlined"
    ></p-button>
    <p-button
      data-test="change-me"
      icon="pi pi-home"
      label="Large"
      severity="primary"
      size="large"
      variant="outlined"
    ></p-button>
  </section>

  <h3 class="section-sub-title">Pure icon button with PrimeNG icon</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" />
      Primary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="secondary" />
      Secondary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="warn" />
      Warn
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="danger" />
      Danger
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" [disabled]="true" />
      Disabled
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" size="small" />
      Small
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" size="large" />
      Large
    </div>

    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" [text]="true" severity="primary" [rounded]="true" />
      Rounded
    </div>
  </section>

  <h3 class="section-sub-title">Pure icon button with PrimeNG icon and with background color</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" />
      Primary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="secondary" />
      Secondary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="warn" />
      Warn
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="danger" />
      Danger
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" [disabled]="true" />
      Disabled
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" size="small" />
      Small
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" size="large" />
      Large
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi pi-home" severity="primary" [rounded]="true" />
      Rounded
    </div>
  </section>

  <h1 class="section-title">SVG icon Button</h1>
  <h3 class="section-sub-title">Regular button with SVG icon</h3>
  <section class="button-section">
    <p-button data-test="change-me" severity="primary" label="Primary">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="secondary" label="Secondary">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="warn" label="Warn">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="danger" label="Danger">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" label="Disabled" disabled>
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="small" label="Small">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="large" label="Large">
      <app-icon icon="box"></app-icon>
    </p-button>
  </section>

  <h3 class="section-sub-title">Outlined button with SVG icon</h3>
  <section class="button-section">
    <p-button data-test="change-me" severity="primary" label="Primary" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="secondary" label="Secondary" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="warn" label="Warn" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="danger" label="Danger" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" label="Disabled" disabled variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="small" label="Small" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
    <p-button data-test="change-me" severity="primary" size="large" label="Large" variant="outlined">
      <app-icon icon="box"></app-icon>
    </p-button>
  </section>

  <h3 class="section-sub-title">Pure icon button with SVG icon</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      Primary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      Secondary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      Warn
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      Danger
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      Disabled
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      Small
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      Large
    </div>
    <div class="button-card">
      <p-button data-test="change-me" [text]="true" severity="primary" [rounded]="true">
        <app-icon icon="box"></app-icon>
      </p-button>
      Rounded
    </div>
  </section>

  <h3 class="section-sub-title">Pure icon button with SVG icon and with background color</h3>
  <section class="button-section">
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary">
        <app-icon icon="box"></app-icon>
      </p-button>
      Primary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="secondary">
        <app-icon icon="box"></app-icon>
      </p-button>
      Secondary
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="warn">
        <app-icon icon="box"></app-icon>
      </p-button>
      Warn
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="danger">
        <app-icon icon="box"></app-icon>
      </p-button>
      Danger
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" disabled>
        <app-icon icon="box"></app-icon>
      </p-button>
      Disabled
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" size="small">
        <app-icon icon="box"></app-icon>
      </p-button>
      Small
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" size="large">
        <app-icon icon="box"></app-icon>
      </p-button>
      Large
    </div>
    <div class="button-card">
      <p-button data-test="change-me" icon="pi" severity="primary" [rounded]="true">
        <app-icon icon="box"></app-icon>
      </p-button>
      Rounded
    </div>
  </section>

  <h1 class="section-title">Primary theme color</h1>
  <section class="common-color-section">
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(--primary-color)`"></div>
      <div>var(--primary-color)</div>
      <div>Primary blue</div>
    </div>
  </section>

  <h1 class="section-title">Text color</h1>
  <section class="text-color-section">
    <div class="text-color-item">
      <span style="color: var(--primary-text-color); font-size: 20px; font-weight: 700">Regular</span>
      var(--primary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--emphasis-text-color); font-size: 20px; font-weight: 700">Emphasised</span>
      var(--emphasis-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--secondary-text-color); font-size: 20px; font-weight: 700">Secondary</span>
      var(--secondary-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--placeholder-text-color); font-size: 20px; font-weight: 700">Placeholder</span>
      var(--placeholder-text-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--success-color); font-size: 20px; font-weight: 700">Success</span>
      var(--success-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--warn-color); font-size: 20px; font-weight: 700">Warn</span>
      var(--warn-color)
    </div>
    <div class="text-color-item">
      <span style="color: var(--error-color); font-size: 20px; font-weight: 700">Error</span>
      var(--error-color)
    </div>
  </section>

  <h1 class="section-title">Content background color</h1>
  <section class="common-color-section">
    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--light-background-color)`"></div>
      <div>var(--light-background-color)</div>
      <div>Light</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--medium-background-color)`"></div>
      <div>var(--medium-background-color)</div>
      <div>Medium</div>
    </div>

    <div class="common-color-item width-250">
      <div class="common-color-legend" [style]="`background: var(--heavy-background-color)`"></div>
      <div>var(--heavy-background-color)</div>
      <div>Heavy</div>
    </div>
  </section>

  <h1 class="section-title">Message</h1>
  <section class="button-section">
    <p-button
      data-test="change-me"
      label="Regular"
      severity="primary"
      (onClick)="showToast('info','Regular message, seldom used, use other types instead.')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="Success"
      severity="success"
      (onClick)="showToast('success','Success message, used after some operation succeeds.')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="Warn"
      severity="warn"
      (onClick)="showToast('warn','Warn message, used for warning user.')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="Error"
      severity="danger"
      (onClick)="showToast('error','Error message, used when some error happens.')"
    ></p-button>
  </section>

  <h1 class="section-title">Condirm</h1>
  <section class="button-section">
    <p-button
      data-test="change-me"
      label="Regular"
      severity="primary"
      (onClick)="showConfirmation('primary')"
    ></p-button>
    <p-button
      data-test="change-me"
      label="Success"
      severity="success"
      (onClick)="showConfirmation('success')"
    ></p-button>
    <p-button data-test="change-me" label="Warn" severity="warn" (onClick)="showConfirmation('warn')"></p-button>
    <p-button data-test="change-me" label="Danger" severity="danger" (onClick)="showConfirmation('danger')"></p-button>
  </section>

  <h1 class="section-title">Dialog</h1>
  <section class="button-section">
    <p-button data-test="change-me" label="Small dialog" severity="primary" (onClick)="showDialog('small')"></p-button>
    <p-button data-test="change-me" label="Meium dialog" severity="primary" (onClick)="showDialog('medium')"></p-button>
    <p-button data-test="change-me" label="Large dialog" severity="primary" (onClick)="showDialog('large')"></p-button>
    <p-button
      data-test="change-me"
      label="Extra dialog"
      severity="primary"
      (onClick)="showDialog('x-large')"
    ></p-button>
  </section>

  <h1 class="section-title">Table</h1>
  <section class="table-section">
    <app-demo-device-page></app-demo-device-page>
  </section>

  <h1 class="section-title">Common components</h1>
  <ul>
    <li class="common-control-container">
      <div class="common-control-item">
        <div class="common-control-title">Ellipsised text（app-ellipsised）：</div>
        <app-ellipsised>
          This is a very long text, it shows tooltip if the length is bigger than it's max width
        </app-ellipsised>
      </div>
    </li>
    <li class="common-control-container">
      <div class="common-control-item">
        <div class="common-control-title">SVG icon（app-icon）：</div>
        <app-icon icon="box"></app-icon>
      </div>
    </li>
    <li class="common-control-container">
      <div class="common-control-item">
        <div class="common-control-title">Paginator：</div>
        <app-paginator [totalElements]="123"></app-paginator>
      </div>
    </li>
  </ul>

  <h1 class="section-title">Icon</h1>
  <div>
    Icons can be added in two ways, one is to directly use
    <a href="https://primeng.org/icons">PrimeNG icon</a>
    ; the other is to use customized SVG icon. For customized SVG icon, make sure you register the SVG in
    <b>icon-registry.ts</b>
    before you use it.
  </div>
  <h3 class="section-sub-title">SVG icon example</h3>
  <div class="u-margin-top-10">
    <code>&lt;app-icon icon="box">&lt;/app-icon&gt;</code>
  </div>
  <div class="u-margin-top-10">
    Your can change the icon color using CSS
    <b>color</b>
    property, and change the font size using CSS
    <b>font-size</b>
    property.
  </div>

  <h3 class="section-sub-title">SVG icon color</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>Default color</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-blue"></app-icon>
      <div>Primary blue</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="colored-icon-red"></app-icon>
      <div>Danger red</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG icon size</h3>
  <div class="icon-section">
    <div class="icon-item">
      <app-icon icon="box"></app-icon>
      <div>Default size</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-16"></app-icon>
      <div>var(--16px)</div>
    </div>

    <div class="icon-item">
      <app-icon icon="box" class="u-font-size-20"></app-icon>
      <div>var(--20px)</div>
    </div>
  </div>

  <h3 class="section-sub-title">SVG icon list</h3>
  <section class="icon-section">
    @for (icon of allIcons; track icon) {
    <div class="icon-item">
      <app-icon [icon]="icon"></app-icon>
      <div>{{ icon }}</div>
    </div>
    }
  </section>

  <h1 class="section-title">Common colors</h1>
  <section class="common-color-section">
    @for (color of allCommonColors; track color) {
    <div class="common-color-item">
      <div class="common-color-legend" [style]="`background: var(${color})`"></div>
      <div>var({{ color }})</div>
    </div>
    }
  </section>
</section>
