// This file contains utility css styles that can be referenced directly by components
// All utility css selectors are wrapped inside `utility` css layer which is put at a very high priority, please refer to `src/common/config/main.config.ts` for more details on css layers
// All utility css selectors should start with `u-` which means 'Utility' to distinguish from other css selectors

@layer utility {
  .u-margin-top-5 {
    margin-top: var(--5px);
  }

  .u-margin-top-10 {
    margin-top: var(--10px);
  }

  .u-margin-top-15 {
    margin-top: var(--15px);
  }

  .u-margin-right-15 {
    margin-right: var(--15px);
  }

  .u-margin-bottom-10 {
    margin-bottom: var(--10px);
  }

  .u-padding-30 {
    padding: var(--30px);
  }

  .u-padding-top-10 {
    padding-top: var(--10px);
  }

  .u-padding-bottom-10 {
    padding-bottom: var(--10px);
  }

  .u-font-size-16 {
    font-size: var(--16px);
  }

  .u-font-size-18 {
    font-size: var(--18px);
  }

  .u-font-size-20 {
    font-size: var(--20px);
  }

  .u-font-size-24 {
    font-size: var(--24px);
  }

  .u-width-100 {
    width: var(--100px);
  }

  .u-width-150 {
    width: var(--150px);
  }

  .u-width-200 {
    width: var(--200px);
  }

  .u-width-250 {
    width: var(--250px);
  }

  .u-height-20 {
    height: var(--20px);
  }

  .u-focus-visible-ring:focus-visible,
  .u-focus-within-ring:focus-within {
    outline: var(--2px) solid var(--primary-color);
    outline-offset: var(--2px);
    border-radius: var(--4px);
  }
}
