p-button {
  //all disabled buttons
  button.p-button:disabled {
    opacity: 1;

    &:hover {
      cursor: not-allowed;
    }
  }

  // disabled regular buttons
  button.p-button:not(.p-button-text):not(.p-button-icon-only):not(.p-button-outlined):disabled {
    background: var(--gray-500);
    border-color: var(--gray-500);
  }

  // outlined button (disabled)
  button.p-button.p-button-outlined:disabled {
    color: var(--gray-500);
    border-color: var(--gray-500);
  }

  // pure icon button
  button.p-button.p-button-icon-only {
    width: var(--medium-control-height);
    height: var(--medium-control-height);
    padding: 0;
  }

  // pure icon button (small)
  button.p-button.p-button-icon-only.p-button-sm {
    width: var(--small-control-height);
    height: var(--small-control-height);
    padding: 0;
  }

  // pure icon button (large)
  button.p-button.p-button-icon-only.p-button-lg {
    width: var(--large-control-height);
    height: var(--large-control-height);
    padding: 0;
  }

  // pure icon button (disabled)
  button.p-button.p-button-text.p-button-icon-only:disabled {
    color: var(--gray-500);
  }

  // pure icon button with background (disabled)
  button.p-button.p-button-icon-only:not(.p-button-text):disabled {
    background: var(--gray-500);
    color: #ffffff;
    border-color: var(--gray-500);
  }

  // pure text button
  button.p-button.p-button-text:not(.p-button-icon-only) {
    padding: var(--4px) var(--10px);
  }

  // pure text button (small)
  button.p-button.p-button-text.p-button-sm:not(.p-button-icon-only) {
    padding: var(--2px) var(--8px);
  }

  // pure text button (large)
  button.p-button.p-button-text.p-button-lg:not(.p-button-icon-only) {
    padding: var(--6px) var(--12px);
  }

  // pure text button (disabled)
  button.p-button.p-button-text:not(.p-button-icon-only):disabled {
    color: var(--gray-500);
  }
}

a.p-button {
  text-decoration: none;
}

// button with <app-icon> inside
p-button {
  button.p-button.p-button-text:not(.p-button-icon-only):has(app-icon) {
    width: var(--medium-control-height);
    height: var(--medium-control-height);
    padding: 0 !important;
  }

  button.p-button.p-button-text:not(.p-button-icon-only).p-button-sm:has(app-icon) {
    width: var(--small-control-height);
    height: var(--small-control-height);
    padding: 0;
  }

  button.p-button.p-button-text:not(.p-button-icon-only).p-button-lg:has(app-icon) {
    width: var(--large-control-height);
    height: var(--large-control-height);
    padding: 0;
  }

  button.p-button.p-button-text:not(.p-button-icon-only):has(app-icon):disabled {
    color: var(--gray-500);
  }
}
