@layer primeng-customize {
  .p-confirmdialog {
    .p-dialog-header {
      padding: var(--14px) var(--20px);
      border-bottom: var(--content-splitter-border);

      & .p-dialog-header-actions button.p-dialog-close-button {
        border-radius: var(--medium-border-radius);
      }
    }

    .p-dialog-content {
      width: var(--500px);
      padding: var(--24px);
    }

    .p-dialog-footer {
      gap: var(--15px);
    }
  }
}
