<section class="nav-section">
  <div class="nav-title">Console</div>
  <!--todo: replace with your own menu-->
  <div class="nav-menu">
    <a routerLink="/console" pButton data-test="change-me">
      <span pButtonLabel>Dashboard</span>
    </a>
    <a routerLink="devices" pButton data-test="change-me">
      <span pButtonLabel>Devices</span>
    </a>
    <a routerLink="members" pButton data-test="change-me">
      <span pButtonLabel>Members</span>
    </a>
  </div>
</section>
<section class="content-section">
  <div class="content-header">
    <div class="header-left"></div>
    <div class="header-right">
      <div>{{ currentContextService.user()?.name }}</div>
      <app-locale-switcher></app-locale-switcher>
      @if (currentContextService.isSuperAdminUser()) {
        <app-org-switcher></app-org-switcher>
      }
      <a routerLink="/" pButton data-test="change-me">
        <span pButtonLabel>Home</span>
      </a>
      @if (currentContextService.isDevelopment()) {
        <a routerLink="/design-system" pButton data-test="change-me" target="_blank">
          <span pButtonLabel>Design System</span>
        </a>
      }
    </div>
  </div>
  <div class="main-content-container">
    <div class="main-content">
      <router-outlet></router-outlet>
      <app-spinner [name]="CONSOLE_MAIN_SPINNER"></app-spinner>
    </div>
  </div>
</section>
