<div class="filter-bar">
  <p-floatlabel variant="on">
    <p-select
      class="filter-select"
      inputId="os-type-select-input"
      [focusOnHover]="false"
      [options]="enumService.allableOptionsOf(OS_TYPE_NAMES)"
      [(ngModel)]="selectedOsType"
      (onChange)="filterByOsType($event.value)"
    ></p-select>
    <label for="os-type-select-input">{{ 'OS_TYPE' | translate }}</label>
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-select
      class="filter-select"
      inputId="cpu-architecture-select-input"
      [focusOnHover]="false"
      [options]="enumService.allableOptionsOf(CPU_ARCHITECTURE_NAMES)"
      [(ngModel)]="selectedCpuArchitectureType"
      (onChange)="filterByCpuArchitecture($event.value)"
    ></p-select>
    <label for="cpu-architecture-select-input">{{ 'CPU_ARCHITECTURE' | translate }}</label>
  </p-floatlabel>

  <p-button label="Batch operation" severity="primary" [disabled]="selectedDevices.length === 0"></p-button>
</div>

<p-table
  [value]="devices()"
  [resizableColumns]="true"
  [scrollable]="true"
  scrollHeight="flex"
  [lazy]="true"
  [lazyLoadOnInit]="false"
  selectionMode="multiple"
  [(selection)]="selectedDevices"
  sortField="name"
  [sortOrder]="-1"
  (onLazyLoad)="sort($event)"
  class="the-table"
>
  <ng-template #header>
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">
        {{ 'DEVICE_NAME' | translate }}
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>{{ 'OS_TYPE' | translate }}</th>
      <th>{{ 'CPU_ARCHITECTURE' | translate }}</th>
    </tr>
  </ng-template>

  <ng-template #body let-device>
    <tr>
      <td>
        <p-tableCheckbox [value]="device"></p-tableCheckbox>
      </td>
      <td>{{ device.name }}</td>
      <td>{{ OS_TYPE_NAMES.get(device.osType) }}</td>
      <td>{{ CPU_ARCHITECTURE_NAMES.get(device.cpuArchitecture) }}</td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="20">
        <app-table-empty-placeholder></app-table-empty-placeholder>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-paginator
  [totalElements]="totalElements"
  [pageNumber]="query.pageNumber"
  [pageSize]="query.pageSize"
  (pageChanged)="changePage($event)"
></app-paginator>

<!--In real use, prefer NOT use your own spinner like below, instead use showConsoleMainSpinner() or showGlobalSpinner() -->
<app-spinner [name]="demoDeviceSpinner"></app-spinner>
